# Copyright  (c) 2016-2017, Hortonworks Inc.  All rights reserved.
# 
# Except as expressly permitted in a written agreement between you or your
# company and Hortonworks, Inc. or an authorized affiliate or partner
# thereof, any use, reproduction, modification, redistribution, sharing,
# lending or other exploitation of all or any part of the contents of this
# software is strictly prohibited.

# Maven
target

# IntelliJ
*.iml
*.ipr
*.iws
.idea

# Eclipse
.classpath
.project
.settings
.externalToolBuilders
maven-eclipse.xml

#build
.DS_Store
*/.DS_Store

#log files
logs
*.log

#Windows
Thumbs.db

#GIT
.gitignore
scheduler/data/*
