<?xml version="1.0" encoding="UTF-8" ?>
<!--
    Copyright  (c) 2016-2017, Hortonworks Inc.  All rights reserved.

    Except as expressly permitted in a written agreement between you or your
    company and Hortonworks, Inc. or an authorized affiliate or partner
    thereof, any use, reproduction, modification, redistribution, sharing,
    lending or other exploitation of all or any part of the contents of this
    software is strictly prohibited.
-->


<!--
    This is used for beacon packaging only.
  -->

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p - [%t:%x] ~ %m (%c{1}:%L)%n"/>
        </layout>
    </appender>
    <appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
	<param name="File" value="${beacon.log.dir}/beacon-application.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p - [%t:%x] ~ %m (%c{1}:%L)%n"/>
        </layout>
    </appender>

    <logger name="com.hortonworks.beacon" additivity="false">
        <level value="info"/>
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="org.apache.hadoop" additivity="false">
        <level value="info"/>
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="org.apache.hadoop.hive" additivity="false">
        <level value="info"/>
        <appender-ref ref="FILE"/>
    </logger>

    <root>
        <priority value="debug"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="CONSOLE"/>
    </root>
</log4j:configuration>
