<?xml version="1.0" encoding="UTF-8"?>
<!--
  HORTONWORKS DATAPLANE SERVICE AND ITS CONSTITUENT SERVICES

  (c) 2016-2018 Hortonworks, Inc. All rights reserved.

  This code is provided to you pursuant to your written agreement with Hortonworks, which may be the terms of the
  Affero General Public License version 3 (AGPLv3), or pursuant to a written agreement with a third party authorized
  to distribute this code.  If you do not have a written agreement with Hortonworks or with an authorized and
  properly licensed third party, you do not have any rights to this code.

  If this code is provided to you under the terms of the AGPLv3:
  (A) HORTONWORKS PROVIDES THIS CODE TO YOU WITHOUT WARRANTIES OF ANY KIND;
  (B) HORTONWORKS DISCLAIMS ANY AND ALL EXPRESS AND IMPLIED WARRANTIES WITH RESPECT TO THIS CODE, INCLUDING BUT NOT
    LIMITED TO IMPLIED WARRANTIES OF TITLE, NON-INFRINGEMENT, MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE;
  (C) HORTONWORKS IS NOT LIABLE TO YOU, AND WILL NOT DEFEND, INDEMNIFY, OR HOLD YOU HARMLESS FOR ANY CLAIMS ARISING
    FROM OR RELATED TO THE CODE; AND
  (D) WITH RESPECT TO YOUR EXERCISE OF ANY RIGHTS GRANTED TO YOU FOR THE CODE, HORTONWORKS IS NOT LIABLE FOR ANY
    DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, PUNITIVE OR CONSEQUENTIAL DAMAGES INCLUDING, BUT NOT LIMITED TO,
    DAMAGES RELATED TO LOST REVENUE, LOST PROFITS, LOSS OF INCOME, LOSS OF BUSINESS ADVANTAGE OR UNAVAILABILITY,
    OR LOSS OR CORRUPTION OF DATA.
-->


<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

    <display-name>Beacon</display-name>
    <description>Beacon</description>

    <listener>
        <listener-class>
            com.hortonworks.beacon.servlet.BeaconServletContextListener
        </listener-class>
    </listener>

    <servlet>
        <servlet-name>BeaconRESTApi</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.resourceConfigClass</param-name>
            <param-value>com.sun.jersey.api.core.PackagesResourceConfig</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>
                com.hortonworks.beacon.api
            </param-value>
        </init-param>
        <init-param>
            <param-name>jersey.config.server.monitoring.statistics.mbeans.enabled</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
             <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>jersey.config.server.response.setStatusOverSendError</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
                <param-name>com.sun.jersey.config.feature.DisableWADL</param-name>
                <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>BeaconRESTApi</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>BeaconAPIFilter</filter-name>
        <filter-class>com.hortonworks.beacon.api.filter.APIFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>BeaconAPIFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
       <filter-name>KnoxSSOAuthenticationFilter</filter-name>
       <filter-class>com.hortonworks.beacon.api.filter.BeaconKnoxSSOAuthenticationFilter</filter-class>
     </filter>
     <filter-mapping>
       <filter-name>KnoxSSOAuthenticationFilter</filter-name>
       <url-pattern>/*</url-pattern>
     </filter-mapping>
     <filter>
       <filter-name>KerberosAuthenticationFilter</filter-name>
       <filter-class>com.hortonworks.beacon.api.filter.BeaconKerberosAuthenticationFilter</filter-class>
     </filter>
     <filter-mapping>
       <filter-name>KerberosAuthenticationFilter</filter-name>
       <url-pattern>/*</url-pattern>
     </filter-mapping>
	<filter>
       <filter-name>BeaconBasicAuthFilter</filter-name>
       <filter-class>com.hortonworks.beacon.api.filter.BeaconBasicAuthFilter</filter-class>
     </filter>
     <filter-mapping>
       <filter-name>BeaconBasicAuthFilter</filter-name>
       <url-pattern>/*</url-pattern>
     </filter-mapping>
n    <filter>
        <filter-name>BeaconPostAuthAPIFilter</filter-name>
        <filter-class>com.hortonworks.beacon.api.filter.PostAuthAPIFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>BeaconPostAuthAPIFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
