<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright  (c) 2016-2017, Hortonworks Inc.  All rights reserved.

    Except as expressly permitted in a written agreement between you or your
    company and Hortonworks, Inc. or an authorized affiliate or partner
    thereof, any use, reproduction, modification, redistribution, sharing,
    lending or other exploitation of all or any part of the contents of this
    software is strictly prohibited.
-->


<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

    <display-name>Beacon</display-name>
    <description>Beacon</description>
    <servlet>
        <servlet-name>BeaconRESTApi</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.resourceConfigClass</param-name>
            <param-value>com.sun.jersey.api.core.PackagesResourceConfig</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>
                com.hortonworks.beacon.api
            </param-value>
        </init-param>
        <init-param>
            <param-name>jersey.config.server.monitoring.statistics.mbeans.enabled</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
             <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>jersey.config.server.response.setStatusOverSendError</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
                <param-name>com.sun.jersey.config.feature.DisableWADL</param-name>
                <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>BeaconRESTApi</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>BeaconAPIFilter</filter-name>
        <filter-class>com.hortonworks.beacon.api.filter.APIFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>BeaconAPIFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
       <filter-name>KnoxSSOAuthenticationFilter</filter-name>
       <filter-class>com.hortonworks.beacon.api.filter.BeaconKnoxSSOAuthenticationFilter</filter-class>
     </filter>
     <filter-mapping>
       <filter-name>KnoxSSOAuthenticationFilter</filter-name>
       <url-pattern>/*</url-pattern>
     </filter-mapping>
     <filter>
       <filter-name>KerberosAuthenticationFilter</filter-name>
       <filter-class>com.hortonworks.beacon.api.filter.BeaconKerberosAuthenticationFilter</filter-class>
     </filter>
     <filter-mapping>
       <filter-name>KerberosAuthenticationFilter</filter-name>
       <url-pattern>/*</url-pattern>
     </filter-mapping>
	<filter>
       <filter-name>BeaconBasicAuthFilter</filter-name>
       <filter-class>com.hortonworks.beacon.api.filter.BeaconBasicAuthFilter</filter-class>
     </filter>
     <filter-mapping>
       <filter-name>BeaconBasicAuthFilter</filter-name>
       <url-pattern>/*</url-pattern>
     </filter-mapping>
     <filter>
       <filter-name>BeaconAuthorizationFilter</filter-name>
       <filter-class>com.hortonworks.beacon.api.filter.BeaconAuthorizationFilter</filter-class>
     </filter>
     <filter-mapping>
       <filter-name>BeaconAuthorizationFilter</filter-name>
       <url-pattern>/*</url-pattern>
     </filter-mapping>
</web-app>
