#
# Copyright  (c) 2016-2017, Hortonworks Inc.  All rights reserved.
#
# Except as expressly permitted in a written agreement between you or your
# company and Hortonworks, Inc. or an authorized affiliate or partner
# thereof, any use, reproduction, modification, redistribution, sharing,
# lending or other exploitation of all or any part of the contents of this
# software is strictly prohibited.
#

engine:
    hostName: {{beacon_host_name}}
    tlsPort: {{beacon_tls_port}}
    port: {{beacon_port}}
    principal: {{beacon_principal}}
    tlsEnabled: {{beacon_tls_enabled}}
{% if credential_store_enabled %}
    credentialProviderPath: {{beacon_credential_provider_path}}
{% endif %}
    appPath: {{beacon_app_path}}
    pluginStagingPath: {{beacon_plugin_staging_dir}}
    localClusterName: {{beacon_cluster_name}}
    loadNumThreads: 10
    loadTimeout: 10
    resultsPerPage: {{beacon_results_per_page}}
    maxResultsPerPage: {{beacon_max_results_per_page}}
    maxInstanceCount: {{beacon_max_instance_count}}
    socketBufferSize: {{beacon_socket_buffer_size}}
    services: {{beacon_services}}
    hadoopJobLookupRetries: {{beacon_hadoop_job_lookup_retries}}
    hadoopJobLookupDelay: {{beacon_hadoop_job_lookup_delay}}
    maxHiveEvents: {{beacon_max_hive_events}}
    authReloginSeconds : {{beacon_auth_relogin_seconds}}
    excludeFileRegex: {{beacon_exclude_file_regex}}
    refreshEncryptionZones: {{beacon_encryption_zones_refresh_frequency}}

dbStore:
    driver: {{beacon_store_driver}}
    url: {{beacon_store_url}}
    user: {{beacon_store_user}}
{% if not credential_store_enabled %}
    password: {{beacon_store_password}}
{% endif %}
{% if credential_store_enabled %}
    passwordAlias: {{beacon_store_alias}}
{% endif %}
    maxConnections: {{beacon_store_max_connections}}
    schemaDirectory : {{beacon_store_schema_dir}}
    validateDbConn : {{beacon_store_validate_connection}}

scheduler:
    quartzPrefix: {{beacon_quartz_prefix}}
    quartzThreadPool: {{beacon_quartz_thread_pool}}
    retiredPolicyOlderThan: {{beacon_retired_policy_older_than}}
    cleanupFrequency: {{beacon_cleanup_service_frequency}}
    housekeepingThreads: {{beacon_house_keeping_threads}}
    housekeepingSyncFrequency: {{beacon_house_keeping_sync_frequency}}
    housekeepingSyncMaxRetry: {{beacon_house_keeping_sync_max_retry}}
    minReplicationFrequency: {{beacon_min_replication_frequency}}
    replicationMetricsInterval: {{beacon_replication_metrics_interval}}
    policyCheckFrequency: {{beacon_policy_check_frequency}}
